.navbar-inverse {
    background: #ab3e2e;
    color: #187aac;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-brand:hover{
    color: #8ad8ff;
}

#jaala-app .header-image {
  /* background: url(/img/Bodhi-leaf_blur.png) no-repeat center center scroll; */
  background: url(/img/Jaala-Logo-200h.png) no-repeat center center scroll;
  
 
    
}

/* #jaala-app .headerlogo {
    opacity: 1;
} */
  
#jaala-app .featurette-heading {
    border-radius: 15px;
    /*background: #914236;*/
    background: #ab3e2e;
    background-image: url(/img/Jaala-Logo-flower-only-h110.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    color: white;
    padding: .7em .8em;
    font-size: 1.2em;
}

#jaala-app .featurette p {
    padding: 0 10px;
}

header .text-muted {
    font-size: 70%;
}
header h1 {
    color: #ab3e2e;    
}

#mission h2 {
    margin-top:0;
}
/* alternative hading style
#services .featurette-heading{
    background: none;
    color: #914236;
    padding: 0 10px;
    font-size: 1.7em;
}
*/