#jaala-app {
    max-width: 950px;
    margin:0 auto;
}
.navbar-inverse {
    background: #ab3e2e;
    color: #187aac;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-brand:hover{
    color: #8ad8ff;
}

header.container-fluid {
    margin: 1em auto 0;
    color: #ab3e2e;
    padding-left: 15px;
   /*background: url(/img/Bodhi-leaf_blur.png) no-repeat center center scroll; */
  /*background: url(/img/Jaala-Logo-200h.png) no-repeat center center scroll;*/
}
header h1 {
    margin-top: 1.5em;
}
header h2 {
    font-size:150%;
    margin-top:0;
}
header .pull-left {
    margin-right:2em;
}

header .logo {
    margin:0 auto 1em;
}
#jaala-app .featurette-heading {
    border-radius: 15px;
    /*background: #914236;*/
    background: #ab3e2e;
    background-image: url(/img/Jaala-Logo-flower-only-h110.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    color: white;
    padding: .7em .8em;
    font-size: 1.2em;
}

#jaala-app .featurette p {
    padding: 0 10px;
}

#mission h2 {
    margin-top:0;
}

#jaala-app footer {
    margin: 0px auto 1em;
}
/* alternative hading style
#services .featurette-heading{
    background: none;
    color: #914236;
    padding: 0 10px;
    font-size: 1.7em;
}
*/